h1 
{ 
	text-align: center;
font-size: 50px;

}

p { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
}		
body {
    text-align: justify;
}
h3 {
    color: #6699cc;
    font-family: sans-serif;
}

a:focus {
    text-decoration: none;
}
a:focus {
    outline: none;
}
html{
    background: url(./images/dgp1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-color: gray;
      
}
body{
    margin:0;
    padding:0;
    background-size:cover;
    background-attachment: fixed;
    
}

.info{
	text-align: center;
	margin:none;
}

.header-bg{
	 width : 800px;
    height: 2300;
    background: rgba(245,245,245,0.4);
    padding : 20px;
    color: black;
    margin: 0 auto;
    margin-top: 50px
}



.icon {
height: 200px;
width: 200px;
align-self: center;p
}

.personal
{
    
    text-align: center ;
    letter-spacing: 5;
}

h6 {
	text-align: center;
	font-size: 28px;

}

h5 {
	
	font-size: 20px;
	text-align: center;

}

.text-uppercase{
	text-align: center;
}

 dt { 
        font-style: italic; 
        font-weight: bold; 
        font-size: 18px; 
        text-align: center; 
        padding: 0 26px 0 0; 
        width: 150px; 
        float: left; 
        height: 100px; 
        border-right: 2px solid #999;  
    }
dd { 
     width: 600px;
     float: center;
    }

dd.clear { 
    float: none;
    margin: 0;
    height: 15px; 
}

.clear { 
    clear: both; 
}

.sub {
    text-align: center;
    font-family: verdana;
    font-size: 15px;
    letter-spacing: 3;
